*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:gray;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.applybox{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
    padding:15px;
    box-shadow: 1px 2px 4px black;
    border-radius: 10px;
}
.title_small{
    font-size: 20px;

}
.form-container{
    margin:20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form-control{
    display: flex;
    flex-direction: column;

}
label{
    font-size: 20px;
    margin-bottom: 5px;
}
input,select,textarea{
    padding:6px 10px;
    border: 2px solid #ccc;
    border-radius: 2px;
}
input:focus{
    outline-color: red;
}
.button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.button{
    background-color: red;
    border:transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color:#ccc;
    border-radius:2px solid red ;
    color: black;
    transition: 0.3s ease-out;
}
.textform-control{
    grid-column: 1 /span 2;

}
.textform-control textarea{
    width: 100%;
}
@media(max-width:460px){
    .textform-control{
        grid-column: 1 /span 2;
    
    }


}